/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mostly everything is handled by Tailwind, including RWD */

.App {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

.color-primary {
  color: #ffc004;
}

/* Transition animation */

.slide-enter {
  opacity: 0;
  z-index: 1;
}

.slide-enter.slide-enter-active {
  opacity: 1;
  transition: all 400ms ease-in;
}

.slide-exit {
  opacity: 1;
  z-index: 0;
}

.slide-exit.slide-exit-active {
  opacity: 0;
  transition: all 400ms ease-in;
}

.slide-exit-done {
  opacity: 0;
}